<footer>
    <div class="footer-top">
        <div class="logo-bottom">
            <img src="/frontend/images/logo-white.svg" alt="Logo MEP">
        </div>
        <hr class="footer-divider">
    </div>

    <div class="footer-bottom">

        <nav class="footer-links">
            <a href="https://www.mep.go.cr/accesibilidad">Accesibilidad</a>
            <a href="https://www.mep.go.cr/contacto">Contacto</a>
            <a href="https://www.mep.go.cr/enlaces-interes">Enlaces recomendados</a>
            <a href="https://www.mep.go.cr/politica-privacidad">Política de privacidad</a>
            <a href="https://www.mep.go.cr/terminos-condiciones-uso">Términos y Condiciones</a>
            <a href="https://www.mep.go.cr/preguntas-frecuentes">Preguntas frecuentes</a>
        </nav>
        
        <div class="footer-social">
            <a href="https://www.facebook.com/MEPCostaRicaoficial/" target="_blank" aria-label="Facebook"
                class="social-icon facebook">
                <img src="/frontend/images/facebook.svg" alt="" class="social-icon-img">
            </a>
            <a href="https://www.instagram.com/mep_costarica_oficial/" target="_blank" aria-label="Instagram"
                class="social-icon instagram">
                <img src="/frontend/images/instagram.svg" alt="" class="social-icon-img">
            </a>
            <a href="https://www.youtube.com/channel/UCauM0XIa9oDDpSvVzUYLE2g" target="_blank" aria-label="YouTube"
                class="social-icon youtube">
                <img src="/frontend/images/youtube.svg" alt="" class="social-icon-img">
            </a>
            <a href="https://www.tiktok.com/@educaciongob.cr?lang=es" target="_blank" aria-label="TikTok"
                class="social-icon tiktok">
                <img src="/frontend/images/tiktok.svg" alt="" class="social-icon-img">
            </a>
        </div>
    </div>

</footer>