<header>
    <div class="header-top">
        <nav>
            <a href="http://">Preferencias</a>
            <a href="https://www.mep.go.cr/transparencia-institucional">Transparencia</a>
            <a href="https://www.mep.go.cr/preguntas-frecuentes">Preguntas frecuentes</a>
            <a href="https://www.mep.go.cr/contacto">Contacto</a>
            <a href="https://outlook.office365.com/mail/" target="_blank">Correo institucional ↗</a>
            <a href="https://dgthenlinea.mep.go.cr/" target="_blank">DGTH en línea ↗</a>
        </nav>
    </div>

    <div class="header-menu">

        <div class="logo-top">
            <img src="/frontend/images/logo.svg" alt="Logo MEP">
        </div>

        <div class="container">
            <nav class="nav-menu d-flex justify-content-center flex-wrap">
                <a href="https://www.mep.go.cr/acerca-del-mep" class="nav-btn">MEP</a>
                <a href="https://www.mep.go.cr/educatico" class="nav-btn">Educativo</a>
                <a href="https://www.mep.go.cr/noticias" class="nav-btn">Noticias</a>
                <a href="https://www.mep.go.cr/tramites-servicios" class="nav-btn">Trámites y servicios</a>
                <a href="https://idp.mep.go.cr/" target="_blank" class="nav-btn">Oferta Formativa ↗</a>
                <a href="https://www.mep.go.cr/oferta-educativa" class="nav-btn">Oferta educativa</a>
            </nav>
        </div>

    </div>
</header>